.wl_Pcon{
	width:100%;
}
.wl_photo{
	position: relative;
	margin-left: 1rem;
}
.wl_fourm{
	width:100%;
	padding:0.8rem;
	resize:none;
	border: none;
	outline: none;
}
.biao{
	position:absolute;
	right:0.666rem;
	font-size:0.66rem;
	color:#000;
}
.wl_picture{
	font-size:3rem;
	color:#ccc;
}
.wl_file{
	position:absolute;
	top:0;
	width:70px;
	height:70px;
	opacity:0;
}
.pic{
	width:100%;
}