.left{
	float:left;
	display:inline;
}
.right{
	float:right;
	display:inline;
}
.clear:after{
	clear:both;
	content:'';
	display:block;

}
.x_pro{
	width:100%;
	background:#f4f3ef;
}
.xx_property{
	 height:2.33333rem;
	box-sizing:border-box;
	border-bottom:2px solid #fff;
	background:#fff;
	text-align:center;
	
}
.xx_property>p{
	padding:0 0.62222rem 0 0.44444rem;
	text-align:center;
	font-size:0.66667rem;
	color:#767477;
	background:#9cdbc6;
	color:#fff;
	height:2.33333rem;
	line-height:2.33333rem;
}
.xx_property p>i{
	margin-top:0.8rem;
}
.xx_proItem{
	border-top:0.04444rem solid #e7e1e1;
	border-bottom:0.04444rem solid #e7e1e1;
	background:#fff;
	margin-bottom:0.71111rem;
}
.xx_proItem li{
	height:2.33333rem;
    border-bottom:0.04444rem solid #e2e0e3;
    line-height:2.33333rem;
    font-size:0.75556rem;
    color:#3f3d3e;
   	padding:0 0.71111rem;
}
.xx_proItem li:last-child{
   border:none;
}
.xx_proItem{
	margin:none;
}
.xx_proItem li span{
	float:right;
}
.xx_proItem li a{
 color:#3f3d3e;
}
.xx_shezhi{
	color:#fff;
}
.xx_proItem li:hover{
  background:rgba(255,166,12,.5);
  color:#fff;
}
.xx_guanli{
	font-size:0.78rem;
	color:#333;
	background:#fff;
	padding:0.2rem 0;
	text-align:center;


}
.xx_proItem li a{
	display:block;
	width:100%;
	height:100%;
}


/* 添加快递包裹 */
.addWarp{
	width:100%;
	margin:0 auto;
	height:17rem;
	opacity:0.5;
	font-size:0.55rem;
	display:none;
	background:#fff;
}
.addWarp>input{
	width:60%;
	height:10%;
	margin-left:2rem;
	margin-top:5%;
	font-size:0.6rem;
	border-radius:0.58rem;
	outline:none;
	padding-left:0.5rem;
	border:0.12rem solid #ddd;
}
.btnBox{
	margin-top:5%;
	height:1.3rem;
}
.btnBox>button{
	width:20%;
	height:1.3rem;
	color:#fff;
	display:inline-block;
	margin-left:2rem;
}






.parCon{
	width:100%;
}
.messList li{
	line-height:1.5rem;
	color:#000;
}




/* 通知 */
.xx_property .list{
	padding: 1rem;
	text-align: left; 
	border-bottom: 1px solid #ddd;
}
.list h5{
	font-size: 0.8rem;
	color: #333;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.xx_property .list p{
	font-size: 0.5rem;
	color: #ccc;
}
.infor{
	color: #fff;
	font-size: 0.66667rem
}
.mask{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
}
.mask .alert{
  position: absolute;
  width:10rem;
  height: 5.8rem;
  padding: 0.5rem;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
}
.word{width:86%;}
.mask .alert input{
  padding: 0;
  line-height: 0.6666667rem;
  height: 0.6666667rem;
  margin-bottom: 0.32rem;
  width: 100%;
  border:1px solid #ccc;
  border-radius: 0.08rem;
}
.mask .alert button{
  color: #fff;
  float: right;
  font-size: 0.4rem;
  width:1.5rem;
  height: 0.7rem;
  border-radius: 0.1rem;
  margin-left: 0.2rem;
}
.mask .alert .save{
  background-color: #5cf;
}
.mask .alert .cancel{
  background-color: #ccc;
}
